# Projeto de Bases de Dados - Parte 2

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [42]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

Connecting and switching to connection 'postgresql+psycopg://postgres:***@postgres/postgres'

## 0. Carregamento da Base de Dados

Crie a base de dados “Aviacao” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados no ficheiro “aviacao.sql”

In [53]:
%%sql
    
DROP TABLE IF EXISTS aeroporto CASCADE;
DROP TABLE IF EXISTS aviao CASCADE;
DROP TABLE IF EXISTS assento CASCADE;
DROP TABLE IF EXISTS voo CASCADE;
DROP TABLE IF EXISTS venda CASCADE;
DROP TABLE IF EXISTS bilhete CASCADE;

CREATE TABLE aeroporto(
	codigo CHAR(3) PRIMARY KEY CHECK (codigo ~ '^[A-Z]{3}$'),
	nome VARCHAR(80) NOT NULL,
	cidade VARCHAR(255) NOT NULL,
	pais VARCHAR(255) NOT NULL,
	UNIQUE (nome, cidade)
);

CREATE TABLE aviao(
	no_serie VARCHAR(80) PRIMARY KEY,
	modelo VARCHAR(80) NOT NULL
);

CREATE TABLE assento (
	lugar VARCHAR(3) CHECK (lugar ~ '^[0-9]{1,2}[A-Z]$'),
	no_serie VARCHAR(80) REFERENCES aviao,
	prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
	PRIMARY KEY (lugar, no_serie)
);

CREATE TABLE voo (
	id SERIAL PRIMARY KEY,
	no_serie VARCHAR(80) REFERENCES aviao,
	hora_partida TIMESTAMP,
	hora_chegada TIMESTAMP, 
	partida CHAR(3) REFERENCES aeroporto(codigo),
	chegada CHAR(3) REFERENCES aeroporto(codigo),
	UNIQUE (no_serie, hora_partida),
	UNIQUE (no_serie, hora_chegada),
	UNIQUE (hora_partida, partida, chegada),
	UNIQUE (hora_chegada, partida, chegada),
	CHECK (partida!=chegada),
	CHECK (hora_partida<=hora_chegada)
);

CREATE TABLE venda (
	codigo_reserva SERIAL PRIMARY KEY,
	nif_cliente CHAR(9) NOT NULL,
	balcao CHAR(3) REFERENCES aeroporto(codigo),
	hora TIMESTAMP
);

CREATE TABLE bilhete (
	id SERIAL PRIMARY KEY,
	voo_id INTEGER REFERENCES voo,
	codigo_reserva INTEGER REFERENCES venda,
	nome_passegeiro VARCHAR(80),
	preco NUMERIC(7,2) NOT NULL,
	prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
	lugar VARCHAR(3),
	no_serie VARCHAR(80),
	UNIQUE (voo_id, codigo_reserva, nome_passegeiro),
	FOREIGN KEY (lugar, no_serie) REFERENCES assento
);

++
||
++
++

## 1. Restrições de Integridade [3 valores]

Implemente na base de dados “Aviacao” as seguintes restrições de integridade, podendo recorrer a Triggers caso estritamente necessário:

(RI-1) Aquando do check-in (i.e. quando se define o assento em bilhete) a classe do bilhete tem de corresponder à classe do assento e o aviao do assento tem de corresponder ao aviao do voo

In [54]:
%%sql

CREATE OR REPLACE FUNCTION check_classe_assento() 
RETURNS trigger AS $$
BEGIN
  IF (NEW.lugar IS NULL AND NEW.no_serie IS NOT NULL) OR 
     (NEW.lugar IS NOT NULL AND NEW.no_serie IS NULL) THEN
    RAISE EXCEPTION 'Ambos lugar e no_serie devem ser NULL ou ambos devem estar definidos';
  ELSIF (NEW.lugar IS NULL AND NEW.no_serie IS NULL) THEN
    RETURN NEW;
  ELSIF NOT EXISTS (
    SELECT 1 FROM assento
    WHERE lugar = NEW.lugar AND no_serie = NEW.no_serie AND prim_classe = NEW.prim_classe
  ) THEN
    RAISE EXCEPTION 'Classe do bilhete não corresponde à do assento';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_classe_assento
    BEFORE INSERT OR UPDATE OF lugar, no_serie ON bilhete
    FOR EACH ROW
    EXECUTE FUNCTION check_classe_assento();

++
||
++
++

(RI-2) O número de bilhetes de cada classe vendidos para cada voo não pode exceder a capacidade (i.e., número de assentos) do avião para essa classe

In [55]:
%%sql

CREATE OR REPLACE FUNCTION check_capacidade_classe()
    RETURNS trigger AS 
$$
DECLARE
  capacidade INT;
  bilhetes_reservados INT;
BEGIN
  IF NEW.prim_classe THEN
    SELECT COUNT(*) INTO capacidade
    FROM assento
    WHERE no_serie = (SELECT no_serie FROM voo WHERE id = NEW.voo_id)
      AND prim_classe = TRUE;

    SELECT COUNT(*) INTO bilhetes_reservados
    FROM bilhete
    WHERE voo_id = NEW.voo_id AND prim_classe = TRUE;

    IF bilhetes_reservados >= capacidade THEN
      RAISE EXCEPTION 'Capacidade da primeira classe excedida para o voo';
    END IF;

  ELSE
    SELECT COUNT(*) INTO capacidade
    FROM assento
    WHERE no_serie = (SELECT no_serie FROM voo WHERE id = NEW.voo_id)
      AND prim_classe = FALSE;

    SELECT COUNT(*) INTO bilhetes_reservados
    FROM bilhete
    WHERE voo_id = NEW.voo_id AND prim_classe = FALSE;

    IF bilhetes_reservados >= capacidade THEN
      RAISE EXCEPTION 'Capacidade da segunda classe excedida.';
    END IF;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_capacidade_classe
  BEFORE INSERT OR UPDATE OF voo_id, prim_classe ON bilhete
  FOR EACH ROW
  EXECUTE FUNCTION check_capacidade_classe();

++
||
++
++

(RI-3) A hora da venda tem de ser anterior à hora de partida de todos os voos para os quais foram comprados bilhetes na venda

In [56]:
%%sql
    
CREATE OR REPLACE FUNCTION check_hora_venda()
    RETURNS trigger AS 
$$
DECLARE
  min_hora_partida TIMESTAMP;
BEGIN
  SELECT MIN(voo.hora_partida) INTO min_hora_partida
  FROM bilhete
  JOIN voo ON voo.id = bilhete.voo_id
  WHERE bilhete.codigo_reserva = NEW.codigo_reserva;

  IF min_hora_partida IS NOT NULL AND NEW.hora >= min_hora_partida THEN
    RAISE EXCEPTION 'Hora da venda deve ser anterior à menor hora de partida dos bilhetes.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_hora_venda
    BEFORE INSERT OR UPDATE OF hora, codigo_reserva ON venda
    FOR EACH ROW
    EXECUTE FUNCTION check_hora_venda();

++
||
++
++

## 2. Preenchimento da Base de Dados [2 valores]

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- ≥10 aeroportos internacionais (reais) localizados na Europa, com pelo menos 2 cidades tendo 2 aeroportos
- ≥10 aviões de ≥3 modelos distintos (reais), com um número de assentos realista; assuma que as primeiras ~10% filas são de 1a classe
- ≥5 voos por dia entre 1 de Janeiro e 31 de Julho de 2025, cobrindo todos os aeroportos e todos os aviões; garanta que para cada voo entre dois aeroportos se segue um voo no sentido oposto; garanta ainda que cada avião tem partida no aeroporto da sua chegada anterior
- ≥30.000 bilhetes vendidos até à data presente, correspondendo a ≥10.000 vendas, com todo os bilhetes de voos já realizados tendo feito check-in, e com todos os voos tendo bilhetes de primeira e segunda classe vendidos
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

In [57]:
%%sql

-- populate.sql
BEGIN;

-- 1. Insert airports (≥10 European international airports, with 2 cities having 2 airports)
INSERT INTO aeroporto (codigo, nome, cidade, pais) VALUES
   -- London (2 airports)
   ('LHR', 'Heathrow Airport', 'London', 'United Kingdom'),
   ('LGW', 'Gatwick Airport', 'London', 'United Kingdom'),
   
   -- Paris (2 airports)
   ('CDG', 'Charles de Gaulle Airport', 'Paris', 'France'),
   ('ORY', 'Orly Airport', 'Paris', 'France'),
   
   -- Other major European airports
   ('FRA', 'Frankfurt Airport', 'Frankfurt', 'Germany'),
   ('AMS', 'Amsterdam Schiphol Airport', 'Amsterdam', 'Netherlands'),
   ('MAD', 'Adolfo Suárez Madrid-Barajas Airport', 'Madrid', 'Spain'),
   ('FCO', 'Leonardo da Vinci-Fiumicino Airport', 'Rome', 'Italy'),
   ('LIS', 'Humberto Delgado Airport', 'Lisbon', 'Portugal'),
   ('ZRH', 'Zurich Airport', 'Zurich', 'Switzerland'),
   ('CPH', 'Copenhagen Airport', 'Copenhagen', 'Denmark'),
   ('VIE', 'Vienna International Airport', 'Vienna', 'Austria');

-- 2. Insert airplanes (≥10 planes of ≥3 distinct models)
INSERT INTO aviao (no_serie, modelo) VALUES
   ('B737-001', 'Boeing 737-800'),
   ('B737-002', 'Boeing 737-800'),
   ('B737-003', 'Boeing 737-800'),
   ('B737-004', 'Boeing 737-800'),
   ('A320-001', 'Airbus A320'),
   ('A320-002', 'Airbus A320'),
   ('A320-003', 'Airbus A320'),
   ('A320-004', 'Airbus A320'),
   ('B787-001', 'Boeing 787'),
   ('B787-002', 'Boeing 787'),
   ('E195-001', 'Embraer E195');

-- 3. Insert seats (first ~10% rows are first class)
INSERT INTO assento (lugar, no_serie, prim_classe)
SELECT
   row_num::text || letter AS lugar,
   a.no_serie,
   row_num <= 2 AS prim_classe
FROM
   aviao a
   CROSS JOIN generate_series(1, 20) AS row_num
   CROSS JOIN (SELECT chr(n) AS letter FROM generate_series(65, 70) n) letters;

-- 4. Insert flights (≥5 flights per day Jan-Jul 2025, round trips, proper airplane routing)
DO $$
DECLARE
   flight_date DATE;
   departure_time TIMESTAMP;
   arrival_time TIMESTAMP;
   flight_id INTEGER;
   route RECORD;
   airplane_no VARCHAR;
   airplane_idx INTEGER := 0;
   airplane_count INTEGER := (SELECT COUNT(*) FROM aviao);
   route_count INTEGER := (SELECT COUNT(*) FROM aeroporto a1 CROSS JOIN aeroporto a2 WHERE a1.codigo != a2.codigo);
BEGIN
   FOR flight_date IN SELECT generate_series(
      '2025-01-01'::DATE, 
      '2025-07-31'::DATE, 
      '1 day'::INTERVAL
   )
   LOOP
      FOR i IN 1..5 LOOP
         SELECT a1.codigo, a2.codigo AS codigo2
         INTO route
         FROM aeroporto a1 CROSS JOIN aeroporto a2
         WHERE a1.codigo != a2.codigo
         OFFSET ( (i - 1) % route_count )
         LIMIT 1;

         SELECT no_serie INTO airplane_no
         FROM aviao
         ORDER BY no_serie
         LIMIT 1 OFFSET airplane_idx;

         airplane_idx := (airplane_idx + 1) % airplane_count;

         departure_time := flight_date + TIME '06:00' + (i * INTERVAL '2 hours');
         arrival_time := departure_time + INTERVAL '2 hours';

         INSERT INTO voo (no_serie, hora_partida, hora_chegada, partida, chegada)
         VALUES (airplane_no, departure_time, arrival_time, route.codigo, route.codigo2)
         RETURNING id INTO flight_id;

         departure_time := arrival_time + INTERVAL '1 hour';
         arrival_time := departure_time + INTERVAL '2 hours';

         INSERT INTO voo (no_serie, hora_partida, hora_chegada, partida, chegada)
         VALUES (airplane_no, departure_time, arrival_time, route.codigo2, route.codigo);
      END LOOP;
   END LOOP;
END $$;


-- 5. Insert sales and tickets (≥30,000 tickets in ≥10,000 sales)
DO $$
DECLARE
   sale_id INTEGER;
   flight RECORD;
   seat RECORD;
   ticket_count INTEGER := 0;
   sale_count INTEGER := 0;
   passenger_num INTEGER;
   flight_date DATE;
BEGIN
   -- For each flight that has already occurred (before current date)
   FOR flight IN SELECT id, hora_partida, no_serie FROM voo 
   WHERE hora_partida < NOW() ORDER BY hora_partida
   LOOP
      -- Create 1-13 sales per flight
      FOR s IN 1..(1 + random() * 13)::INTEGER LOOP
         sale_count := sale_count + 1;
         
         INSERT INTO venda (nif_cliente, balcao, hora)
         VALUES (
            LPAD((random() * 999999999)::INTEGER::TEXT, 9, '0'),
            (SELECT codigo FROM aeroporto ORDER BY random() LIMIT 1),
            flight.hora_partida - INTERVAL '1 day' + (random() * INTERVAL '23 hours')
         )
         RETURNING codigo_reserva INTO sale_id;
         
         -- Create 1-5 tickets per sale
         passenger_num := 0;
         FOR t IN 1..(1 + random() * 5)::INTEGER LOOP
            ticket_count := ticket_count + 1;
            passenger_num := passenger_num + 1;
             
            -- Select an available seat (alternating between first and economy class)
            SELECT a.lugar, a.no_serie, a.prim_classe INTO seat
            FROM assento a
            WHERE a.no_serie = flight.no_serie
            AND a.prim_classe = (t % 2 = 1)
            AND NOT EXISTS (
               SELECT 1 FROM bilhete b 
               WHERE b.voo_id = flight.id 
               AND b.lugar = a.lugar 
               AND b.no_serie = a.no_serie
            )
            LIMIT 1;
            
            IF seat IS NOT NULL THEN
               INSERT INTO bilhete (
                  voo_id, codigo_reserva, nome_passegeiro, 
                  preco, prim_classe, lugar, no_serie
               ) VALUES (
                  flight.id, sale_id, 
                  'Passenger ' || passenger_num || ' of Sale ' || sale_id,
                  CASE WHEN seat.prim_classe THEN 500 + (random() * 1000) 
                     ELSE 100 + (random() * 400) END,
                     seat.prim_classe, seat.lugar, seat.no_serie
               );
            END IF;
         END LOOP;
      END LOOP;
   END LOOP;
    
   RAISE NOTICE 'Created % sales with % total tickets', sale_count, ticket_count;
END $$;

COMMIT;

12 rows affected.

11 rows affected.

1320 rows affected.

++
||
++
++

## 3. Desenvolvimento de Aplicação [5 valores]

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Aviacao’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todos os aeroportos (nome e cidade).|
|/voos/\<partida>/|Lista todos os voos (número de série do avião,  hora de partida e aeroporto de chegada) que partem do aeroporto de \<partida> até 12h após o momento da consulta.|
|/voos/\<partida>/\<chegada>/|Lista os próximos três voos (número de série do avião e hora de partida) entre o aeroporto de \<partida> e o aeroporto de \<chegada> para os quais ainda há bilhetes disponíveis.|
|/compra/\<voo>/|Faz uma compra de um ou mais bilhetes para o \<voo>, populando as tabelas \<venda> e \<bilhete>. Recebe como argumentos o nif do cliente, e uma lista de pares (nome de passageiro, classe de bilhete) especificando os bilhetes a comprar.|
|/checkin/\<bilhete>/|Faz o check-in de um bilhete, atribuindo-lhe automaticamente um assento da classe correspondente.|

## 4. Vistas [2 valores]

Crie uma vista materializada que detalhe as informações mais importantes sobre os voos, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

 *estatisticas_voos(no_serie, hora_partida, cidade_partida, pais_partida, cidade_chegada, pais_chegada, ano, mes, dia_do_mes, dia_da_semana, passageiros_1c, passageiros_2c, vendas_1c, vendas_2c)*

em que:
- *no_serie, hora_partida*: correspondem aos atributos homónimos da tabela *voo*
- *cidade_partida, pais_partida, cidade_chegada, pais_chegada*: correspondem aos atributos *cidade* e *pais* da tabela *aeroporto*, para o aeroporto de *partida* e *chegada* do *voo*
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *hora_partida* da tabela *voo*
- *passageiros_1c, passageiros_2c:*: correspondem ao número total de bilhetes vendidos para o voo, de primeira e segunda classe respectivamente
- *vendas_1c, vendas_2c*: correspondem ao somatório total dos preços dos bilhetes vendidos para o voo, de primeira e segunda classe respectivamente

In [ ]:
%%sql
-- CREATE MATERIALIZED VIEW ...

## 5. Análise de Dados SQL e OLAP [5 valores]

Usando apenas a vista *estatisticas_voos* desenvolvida no ponto anterior, e *sem recurso a declarações WITH ou LIMIT*, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos da empresa. Pode usar agregações OLAP para os objetivos em que lhe parecer adequado.

1. Determinar a(s) rota(s) que tem/têm a maior procura para efeitos de aumentar a frequência de voos dessa(s) rota(s). Entende-se por rota um trajeto aéreo entre quaisquer duas cidades,  independentemente do sentido (e.g., voos Lisboa-Paris e Paris-Lisboa contam para a mesma rota). Considera-se como indicador da procura de uma rota o preenchimento médio dos aviões (i.e., o rácio entre o número total de passageiros e a capacidade total do avião) no último ano.

In [ ]:
%%sql
-- SELECT ...

2. Determinar as rotas pelas quais nos últimos 3 meses passaram todos os aviões da empresa, para efeitos de melhorar a gestão da frota.

In [ ]:
%%sql
-- SELECT ...

3. Explorar a rentabilidade da empresa (vendas globais e por classe) nas dimensões espaço (global > pais > cidade, para a partida e chegada em simultâneo) e tempo (global > ano > mes > dia_do_mes), como apoio a um relatório executivo.

In [ ]:
%%sql
-- SELECT ...

4. Descobrir se há algum padrão ao longo da semana no rácio entre passageiros de primeira e segunda classe, com drill down na dimensão espaço (global > pais > cidade), que justifique uma abordagem mais flexível à divisão das classes.

In [ ]:
%%sql
-- SELECT ...

## 6. Índices [3 valores]

É expectável que seja necessário executar consultas semelhantes ao colectivo das consultas do ponto anterior diversas vezes ao longo do tempo, e pretendemos otimizar o desempenho da vista estatisticas_voos para esse efeito. Crie sobre a vista o(s) índice(s) que achar mais indicados para fazer essa otimização, justificando a sua escolha com argumentos teóricos e com demonstração prática do ganho em eficiência do índice por meio do comando EXPLAIN ANALYSE. Deve procurar uma otimização coletiva das consultas, evitando criar índices excessivos, particularmente se estes trazem apenas ganhos incrementais a uma das consultas.

Código para criação dos índices

In [ ]:
%%sql
-- CREATE INDEX ...

Justificação teórica e prática (sumarizando observações com EXPLAIN ANALYSE)