# Projeto de Bases de Dados - Parte 2

### Grupo 78
<dl>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1110186 Dinis Sales</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1110246 João Matreno</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1110274 Samuel Gomes</dd>
<dl>

In [3]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

Connecting to 'postgresql+psycopg://postgres:***@postgres/postgres'

## 0. Carregamento da Base de Dados

Crie a base de dados “Aviacao” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados no ficheiro “aviacao.sql”

In [4]:
%%sql
    
DROP TABLE IF EXISTS aeroporto CASCADE;
DROP TABLE IF EXISTS aviao CASCADE;
DROP TABLE IF EXISTS assento CASCADE;
DROP TABLE IF EXISTS voo CASCADE;
DROP TABLE IF EXISTS venda CASCADE;
DROP TABLE IF EXISTS bilhete CASCADE;

CREATE TABLE aeroporto(
	codigo CHAR(3) PRIMARY KEY CHECK (codigo ~ '^[A-Z]{3}$'),
	nome VARCHAR(80) NOT NULL,
	cidade VARCHAR(255) NOT NULL,
	pais VARCHAR(255) NOT NULL,
	UNIQUE (nome, cidade)
);

CREATE TABLE aviao(
	no_serie VARCHAR(80) PRIMARY KEY,
	modelo VARCHAR(80) NOT NULL
);

CREATE TABLE assento (
	lugar VARCHAR(3) CHECK (lugar ~ '^[0-9]{1,2}[A-Z]$'),
	no_serie VARCHAR(80) REFERENCES aviao,
	prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
	PRIMARY KEY (lugar, no_serie)
);

CREATE TABLE voo (
	id SERIAL PRIMARY KEY,
	no_serie VARCHAR(80) REFERENCES aviao,
	hora_partida TIMESTAMP,
	hora_chegada TIMESTAMP, 
	partida CHAR(3) REFERENCES aeroporto(codigo),
	chegada CHAR(3) REFERENCES aeroporto(codigo),
	UNIQUE (no_serie, hora_partida),
	UNIQUE (no_serie, hora_chegada),
	UNIQUE (hora_partida, partida, chegada),
	UNIQUE (hora_chegada, partida, chegada),
	CHECK (partida!=chegada),
	CHECK (hora_partida<=hora_chegada)
);

CREATE TABLE venda (
	codigo_reserva SERIAL PRIMARY KEY,
	nif_cliente CHAR(9) NOT NULL,
	balcao CHAR(3) REFERENCES aeroporto(codigo),
	hora TIMESTAMP
);

CREATE TABLE bilhete (
	id SERIAL PRIMARY KEY,
	voo_id INTEGER REFERENCES voo,
	codigo_reserva INTEGER REFERENCES venda,
	nome_passegeiro VARCHAR(80),
	preco NUMERIC(7,2) NOT NULL,
	prim_classe BOOLEAN NOT NULL DEFAULT FALSE,
	lugar VARCHAR(3),
	no_serie VARCHAR(80),
	UNIQUE (voo_id, codigo_reserva, nome_passegeiro),
	FOREIGN KEY (lugar, no_serie) REFERENCES assento
);

++
||
++
++

Closing postgresql+psycopg://postgres:***@postgres/postgres

## 1. Restrições de Integridade [3 valores]

Implemente na base de dados “Aviacao” as seguintes restrições de integridade, podendo recorrer a Triggers caso estritamente necessário:

(RI-1) Aquando do check-in (i.e. quando se define o assento em bilhete) a classe do bilhete tem de corresponder à classe do assento e o aviao do assento tem de corresponder ao aviao do voo

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION check_classe_assento() 
RETURNS trigger AS $$
BEGIN
  IF NEW.lugar IS NULL OR NEW.no_serie IS NULL THEN
    RETURN NEW;
  END IF;
  IF NOT EXISTS (
    SELECT 1 FROM assento
    WHERE lugar = NEW.lugar AND no_serie = NEW.no_serie AND prim_classe = NEW.prim_classe
  ) THEN
    RAISE EXCEPTION 'Classe do bilhete não corresponde à do assento';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_classe_assento
    BEFORE INSERT OR UPDATE OF lugar ON bilhete
    FOR EACH ROW
    EXECUTE FUNCTION check_classe_assento();

++
||
++
++

(RI-2) O número de bilhetes de cada classe vendidos para cada voo não pode exceder a capacidade (i.e., número de assentos) do avião para essa classe

In [4]:
%%sql

CREATE OR REPLACE FUNCTION check_capacidade_classe()
    RETURNS trigger AS 
$$
DECLARE
  capacidade INT;
  bilhetes_reservados INT;
BEGIN
  IF NEW.prim_classe THEN
    SELECT COUNT(*) INTO capacidade
    FROM assento
    WHERE no_serie = (SELECT no_serie FROM voo WHERE id = NEW.voo_id)
      AND prim_classe = TRUE;

    SELECT COUNT(*) INTO bilhetes_reservados
    FROM bilhete
    WHERE voo_id = NEW.voo_id AND prim_classe = TRUE;

    IF bilhetes_reservados >= capacidade THEN
      RAISE EXCEPTION 'Capacidade da primeira classe excedida para o voo';
    END IF;

  ELSE
    SELECT COUNT(*) INTO capacidade
    FROM assento
    WHERE no_serie = (SELECT no_serie FROM voo WHERE id = NEW.voo_id)
      AND prim_classe = FALSE;

    SELECT COUNT(*) INTO bilhetes_reservados
    FROM bilhete
    WHERE voo_id = NEW.voo_id AND prim_classe = FALSE;

    IF bilhetes_reservados >= capacidade THEN
      RAISE EXCEPTION 'Capacidade da segunda classe excedida.';
    END IF;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_capacidade_classe
  BEFORE INSERT OR UPDATE OF voo_id, prim_classe ON bilhete
  FOR EACH ROW
  EXECUTE FUNCTION check_capacidade_classe();

++
||
++
++

(RI-3) A hora da venda tem de ser anterior à hora de partida de todos os voos para os quais foram comprados bilhetes na venda

In [5]:
%%sql
    
CREATE OR REPLACE FUNCTION check_hora_venda()
    RETURNS trigger AS 
$$
DECLARE
  min_hora_partida TIMESTAMP;
  hora_venda TIMESTAMP;
BEGIN   
  SELECT voo.hora_partida INTO min_hora_partida
  FROM voo
  WHERE voo.id = NEW.voo_id;

  SELECT venda.hora INTO hora_venda
  FROM venda
  WHERE venda.codigo_reserva = NEW.codigo_reserva;
    
  IF min_hora_partida IS NOT NULL AND hora_venda IS NOT NULL AND hora_venda >= min_hora_partida THEN
    RAISE EXCEPTION 'Hora da venda deve ser anterior à menor hora de partida dos bilhetes.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER check_hora_venda
    BEFORE INSERT OR UPDATE OF voo_id, codigo_reserva ON bilhete
    FOR EACH ROW
    EXECUTE FUNCTION check_hora_venda();

++
||
++
++

## 2. Preenchimento da Base de Dados [2 valores]

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- ≥10 aeroportos internacionais (reais) localizados na Europa, com pelo menos 2 cidades tendo 2 aeroportos
- ≥10 aviões de ≥3 modelos distintos (reais), com um número de assentos realista; assuma que as primeiras ~10% filas são de 1a classe
- ≥5 voos por dia entre 1 de Janeiro e 31 de Julho de 2025, cobrindo todos os aeroportos e todos os aviões; garanta que para cada voo entre dois aeroportos se segue um voo no sentido oposto; garanta ainda que cada avião tem partida no aeroporto da sua chegada anterior
- ≥30.000 bilhetes vendidos até à data presente, correspondendo a ≥10.000 vendas, com todo os bilhetes de voos já realizados tendo feito check-in, e com todos os voos tendo bilhetes de primeira e segunda classe vendidos
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação [5 valores]

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Aviacao’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todos os aeroportos (nome e cidade).|
|/voos/\<partida>/|Lista todos os voos (número de série do avião,  hora de partida e aeroporto de chegada) que partem do aeroporto de \<partida> até 12h após o momento da consulta.|
|/voos/\<partida>/\<chegada>/|Lista os próximos três voos (número de série do avião e hora de partida) entre o aeroporto de \<partida> e o aeroporto de \<chegada> para os quais ainda há bilhetes disponíveis.|
|/compra/\<voo>/|Faz uma compra de um ou mais bilhetes para o \<voo>, populando as tabelas \<venda> e \<bilhete>. Recebe como argumentos o nif do cliente, e uma lista de pares (nome de passageiro, classe de bilhete) especificando os bilhetes a comprar.|
|/checkin/\<bilhete>/|Faz o check-in de um bilhete, atribuindo-lhe automaticamente um assento da classe correspondente.|

## 4. Vistas [2 valores]

Crie uma vista materializada que detalhe as informações mais importantes sobre os voos, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

 *estatisticas_voos(no_serie, hora_partida, cidade_partida, pais_partida, cidade_chegada, pais_chegada, ano, mes, dia_do_mes, dia_da_semana, passageiros_1c, passageiros_2c, vendas_1c, vendas_2c)*

em que:
- *no_serie, hora_partida*: correspondem aos atributos homónimos da tabela *voo*
- *cidade_partida, pais_partida, cidade_chegada, pais_chegada*: correspondem aos atributos *cidade* e *pais* da tabela *aeroporto*, para o aeroporto de *partida* e *chegada* do *voo*
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *hora_partida* da tabela *voo*
- *passageiros_1c, passageiros_2c:*: correspondem ao número total de bilhetes vendidos para o voo, de primeira e segunda classe respectivamente
- *vendas_1c, vendas_2c*: correspondem ao somatório total dos preços dos bilhetes vendidos para o voo, de primeira e segunda classe respectivamente

In [27]:
%%sql

DROP MATERIALIZED VIEW IF EXISTS estatisticas_voos;

CREATE MATERIALIZED VIEW estatisticas_voos AS
SELECT
    v.no_serie,
    v.hora_partida,
    ap.cidade AS cidade_partida,
    ap.pais AS pais_partida,
    ac.cidade AS cidade_chegada,
    ac.pais AS pais_chegada,
    EXTRACT(YEAR FROM v.hora_partida) AS ano,
    EXTRACT(MONTH FROM v.hora_partida) AS mes,
    EXTRACT(DAY FROM v.hora_partida) AS dia_do_mes,
    TRIM(TO_CHAR(v.hora_partida, 'Day')) AS dia_da_semana,
    
    COUNT(CASE WHEN b.prim_classe = TRUE THEN 1 END) AS passageiros_1c,
    COUNT(CASE WHEN b.prim_classe = FALSE THEN 1 END) AS passageiros_2c,
    
    (SELECT COUNT(*) FROM assento a WHERE a.no_serie = v.no_serie AND a.prim_classe = TRUE) AS assentos_1c,
    (SELECT COUNT(*) FROM assento a WHERE a.no_serie = v.no_serie AND a.prim_classe = FALSE) AS assentos_2c,
    
    SUM(CASE WHEN b.prim_classe = TRUE THEN b.preco ELSE 0 END) AS vendas_1c,
    SUM(CASE WHEN b.prim_classe = FALSE THEN b.preco ELSE 0 END) AS vendas_2c
    
FROM voo v
JOIN aeroporto ap ON v.partida = ap.codigo
JOIN aeroporto ac ON v.chegada = ac.codigo
LEFT JOIN bilhete b ON v.id = b.voo_id
GROUP BY v.no_serie, v.hora_partida, ap.cidade, ap.pais, ac.cidade, ac.pais;

234376 rows affected.

++
||
++
++

## 5. Análise de Dados SQL e OLAP [5 valores]

Usando apenas a vista *estatisticas_voos* desenvolvida no ponto anterior, e *sem recurso a declarações WITH ou LIMIT*, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos da empresa. Pode usar agregações OLAP para os objetivos em que lhe parecer adequado.

1. Determinar a(s) rota(s) que tem/têm a maior procura para efeitos de aumentar a frequência de voos dessa(s) rota(s). Entende-se por rota um trajeto aéreo entre quaisquer duas cidades,  independentemente do sentido (e.g., voos Lisboa-Paris e Paris-Lisboa contam para a mesma rota). Considera-se como indicador da procura de uma rota o preenchimento médio dos aviões (i.e., o rácio entre o número total de passageiros e a capacidade total do avião) no último ano.

In [ ]:
%%sql

SELECT cidade1, cidade2, taxa_ocupacao
FROM (
  SELECT
    LEAST(cidade_partida, cidade_chegada) AS cidade1,
    GREATEST(cidade_partida, cidade_chegada) AS cidade2,
    AVG((passageiros_1c + passageiros_2c)::float / (assentos_1c + assentos_2c)) AS taxa_ocupacao,
    RANK() OVER (ORDER BY AVG((passageiros_1c + passageiros_2c)::float / (assentos_1c + assentos_2c)) DESC) AS ranking
  FROM estatisticas_voos
  WHERE hora_partida >= CURRENT_DATE - INTERVAL '1 year'
  GROUP BY 
    LEAST(cidade_partida, cidade_chegada),
    GREATEST(cidade_partida, cidade_chegada)
) AS rotas_ranking
WHERE ranking = 1;

2. Determinar as rotas pelas quais nos últimos 3 meses passaram todos os aviões da empresa, para efeitos de melhorar a gestão da frota.

In [ ]:
%%sql

SELECT
    LEAST(cidade_partida, cidade_chegada) AS cidade1,
    GREATEST(cidade_partida, cidade_chegada) AS cidade2
FROM estatisticas_voos ev1
WHERE hora_partida >= CURRENT_DATE - INTERVAL '3 months'
GROUP BY
    LEAST(cidade_partida, cidade_chegada),
    GREATEST(cidade_partida, cidade_chegada)
HAVING COUNT(DISTINCT no_serie) = (
    SELECT COUNT(DISTINCT ev2.no_serie)
    FROM estatisticas_voos ev2
    WHERE ev2.hora_partida >= CURRENT_DATE - INTERVAL '3 months'
);

3. Explorar a rentabilidade da empresa (vendas globais e por classe) nas dimensões espaço (global > pais > cidade, para a partida e chegada em simultâneo) e tempo (global > ano > mes > dia_do_mes), como apoio a um relatório executivo.

In [ ]:
%%sql

SELECT
  pais_partida,
  cidade_partida,
  pais_chegada,
  cidade_chegada,
  ano,
  mes,
  dia_do_mes,
  SUM(vendas_1c) AS total_vendas_1c,
  SUM(vendas_2c) AS total_vendas_2c,
  SUM(vendas_1c + vendas_2c) AS total_vendas
FROM estatisticas_voos
GROUP BY ROLLUP(
  (pais_partida, pais_chegada), (cidade_partida, cidade_chegada),
  ano, mes, dia_do_mes
)
ORDER BY
  pais_partida NULLS LAST,
  cidade_partida NULLS LAST,
  pais_chegada NULLS LAST,
  cidade_chegada NULLS LAST,
  ano NULLS LAST,
  mes NULLS LAST,
  dia_do_mes NULLS LAST;

4. Descobrir se há algum padrão ao longo da semana no rácio entre passageiros de primeira e segunda classe, com drill down na dimensão espaço (global > pais > cidade), que justifique uma abordagem mais flexível à divisão das classes.

In [ ]:
%%sql

SELECT
  pais_partida,
  cidade_partida,
  pais_chegada,
  cidade_chegada,
  dia_da_semana,
  SUM(passageiros_1c) AS total_1c,
  SUM(passageiros_2c) AS total_2c,
  ROUND(
    SUM(passageiros_1c)::numeric / NULLIF(SUM(passageiros_2c), 0),
    2
  ) AS ratio_1c_2c

FROM estatisticas_voos

GROUP BY
  ROLLUP((pais_partida, pais_chegada), (cidade_partida, cidade_chegada)),
  dia_da_semana

ORDER BY
  pais_partida NULLS LAST,
  cidade_partida NULLS LAST,
  pais_chegada NULLS LAST,
  cidade_chegada NULLS LAST,
  POSITION(dia_da_semana IN 'Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday');

## 6. Índices [3 valores]

É expectável que seja necessário executar consultas semelhantes ao colectivo das consultas do ponto anterior diversas vezes ao longo do tempo, e pretendemos otimizar o desempenho da vista estatisticas_voos para esse efeito. Crie sobre a vista o(s) índice(s) que achar mais indicados para fazer essa otimização, justificando a sua escolha com argumentos teóricos e com demonstração prática do ganho em eficiência do índice por meio do comando EXPLAIN ANALYSE. Deve procurar uma otimização coletiva das consultas, evitando criar índices excessivos, particularmente se estes trazem apenas ganhos incrementais a uma das consultas.

Código para criação dos índices

In [35]:
%%sql

DROP INDEX IF EXISTS idx_hora_partida; 
DROP INDEX IF EXISTS idx_estatisticas_por_pais;
DROP INDEX IF EXISTS idx_estatisticas_rollup_ordenado;
DROP INDEX IF EXISTS idx_estatisticas_dia_semana_rollup;

CREATE INDEX idx_hora_partida 
ON estatisticas_voos (hora_partida);

CREATE INDEX idx_estatisticas_por_pais
ON estatisticas_voos (pais_partida, pais_chegada)

CREATE INDEX idx_estatisticas_rollup_ordenado
ON estatisticas_voos (
    pais_partida,
    pais_chegada,
    cidade_partida,
    cidade_chegada,
    ano,
    mes,
    dia_do_mes
) INCLUDE (
    vendas_1c, 
    vendas_2c
);

CREATE INDEX idx_estatisticas_dia_semana_rollup
ON estatisticas_voos (
    dia_da_semana,
    pais_partida,
    pais_chegada,
    cidade_partida,
    cidade_chegada
) INCLUDE (
    passageiros_1c,
    passageiros_2c
);

++
||
++
++

Justificação teórica e prática (sumarizando observações com EXPLAIN ANALYSE)

Para otimizar o desempenho da vista materializada "estatisticas_voos", foram criados quatro índices:

1. "idx_hora_partida": Este índice melhora a eficiência das consultas que filtram ou ordenam por "hora_partida", uma coluna frequentemente utilizada, nomeadamente na consulta 5.1 e 5.2. 
Esta B-tree index, que é o tipo padrão de para colunas do tipo "timestamp", e funciona bem para consultas que envolvem intervalos de tempo.
No 5.1 trocamos um SeqScan e um Sort por um Bitmap Index Scan e Bitmap Heap Scan. No 5.2 trocamos um SeqScan por um Bitmap Index Scan e Bitmap Heap Scan.
Antes de criar este índice, as consultas 5.1 e 5.2 tinham custo de 6469 e 14089, respectivamente e demoravam respetivamente 27ms e 50ms. 
Depois de criar o índice, o custo das mesmas consultas foi reduzido para 5160 e 10039, com tempos de execução de 13ms e 19ms, mostrando uma melhoria significativa, na ordem dos 60%.

2. "idx_estatisticas_rollup_ordenado": índice composto que é útil para acelerar as operações de agregação (SUMS) e agrupamento com ROLLUP, como na consulta 5.3. Para além disto, facilita o ORDER BY porque as colunas ficam ordenadas no índice, evitando operações adicionais de ordenação. 
Antes de criar este índice, a consulta 5.3 tinha um custo de 43919 e demorava 1558ms. 
Depois de criar o índice, o custo da consulta foi reduzido para 25343, com um tempo de execução de 918ms, mostrando uma melhoria significativa, na ordem dos 40%, especialmente devido ao evitar por completo a ordenação dos resultados.

3. "idx_estatisticas_dia_semana_rollup": índice composto que melhora o desempenho de consultas que agregam dados por dia da semana, como na consulta 5.4. Este índice é particularmente útil para consultas que envolvem agregações e filtragens por dia da semana, país e cidade de partida e chegada. 
Antes da criação do índice, a consulta incluia operações como  o SeqScan, Sort e Gather Merge. Com o índice, a consulta pode ser executadafazendo apenas um index-only Scan. 
Antes de criar este índice, a consulta 5.4 tinha um custo de 34061 e demorava 324ms. 
Depois de criar o índice, o custo da consulta foi reduzido para 15637, com um tempo de execução de 67ms, mostrando uma melhoria significativa, na ordem dos 80%.

4. "idx_estatisticas_por_pais": índice composto. Neste caso é difícil avaliar o impacto deste índice, uma vez que não existem consultas no enunciado que o utilizem sem forçar o seu uso. Porém, noutros contextos, este índice poderia ser útil para acelerar consultas que filtram ou agregam dados por país de partida e chegada, o que seria algo bastante útil para a maioria das pesquisas.